<!DOCTYPE html>
<html>
  <head>
    <title>WifiMapApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Find WiFi", "/admin") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Wi-Fi一覧", "/admin/services.html") %>
        </li>
        <li>
          <%= link_to("Wi-Fi新規登録", "/admin/services/new.html") %>
        </li>
        <li>
          <%= link_to("店舗一覧", "/admin/shops.html") %>
        </li>
        <li>
          <%= link_to("店舗新規登録", "/admin/shops/new.html") %>
        </li>
        <li>
          <%= link_to("レビュー一覧", "/admin/reviews.html") %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
